@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
}

.nav__links {
    display: flex;
}

.nav__link, 
.nav__login,
.nav__signup {
    list-style: none;
    text-decoration: none;
}

.nav__link {
    margin: 12px 28px;
}

.nav__login {
    margin: 12px 28px 12px 48px;
}

.nav__signup {
    background-color: #5c39f7;
    padding: 12px 28px;
    border-radius: 100px;
}

.nav__signup--text {
    color: white;
}

.logo__img {
    height: 40px;
    width: 40px;
    margin-right: 4px;
}

.logo__text {
    color:black;
    transition: all 200ms ease;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.logo__text:hover {
    color: #6415ff;
}

.main__img {
    width: 512px;
    height: 512px;
}