@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

button {
    background-color: #6415ff;
    border-width: 0;
    border-radius: 50px;
    padding: 12px 32px;
    color: rgb(247, 250, 252);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

li {
    list-style: none;
}

.purple {
    color: #5c39f7;
}

.description {
    font-weight: 500;
    color: #7c8ba1;
}

.header {
    letter-spacing: 1.6px;
    font-weight: 700;
    font-size: 16px;
}

.title {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.4px;
}

.wrapper {
    margin: 32px 32px;
    line-height: 24px;
    tab-size: 4;
    overflow: hidden;
    min-height: 100vh;
    padding: 2rem;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

.link__btn {
    background-color: #6415ff;
    border-color: transparent;
    border-radius: 50px;
    padding: 12px 32px;
    color: rgb(247, 250, 252);
    font-weight: bold;
    font-size: 14px;
    transition: all 300ms ease;
}

.footer__wrapper {
    margin: 0 32px;
    padding-top: 64px;
    line-height: 24px;
    tab-size: 4;
    overflow: hidden;
}


.hover-underline-animation, .hover-underline-animation-white {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation:hover:after, .hover-underline-animation-white:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6415ff;
    transform-origin: bottom right;
    transition: transform 500ms ease-out;
}

.hover-underline-animation-white:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 500ms ease-out;
}

.navbar__menu--button {
    background-color: transparent;
    color: #6415ff;
    padding: 0;
    display: none;
  }

.navbar__menu--backdrop {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 24px 16px;
    display: flex;
    max-height: 400px;
    z-index: 3;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    transition: all 500ms ease;
    opacity: 0;
  }
  
  .navbar__menu--backdrop--item {
    margin: 26px 0;
    text-align: center;
    visibility: hidden;
    opacity: 0;
  }
  
  .navbar__menu--item--text {
    font-size: 18px !important;
    margin: 0 !important;
    font-weight: 600 !important;
    color: black;
    text-align: center !important;
  }
  
  .navbar__menu--backdrop--button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #6415ff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-15px, 25px);
  }
  
  .menu--open .navbar__menu--backdrop--item {
    visibility: visible;
    opacity: 1;
  }
  
  .menu--open .navbar__menu--backdrop {
    visibility: visible;
    opacity: 1;
  }
  
  .navbar__menu--links {
    display: none !important;
  }

/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.header__logo--link:hover {
    color: #6415ff;
    ;
}

.header__logo--img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 12px;
}

.header__logo--link {
    display: flex;
    align-items: center;
    height: 44px;
    padding-bottom: 4px;
    font-weight: 900;
    font-size: 24px;
    margin-left: 0 !important;
    margin: 0 24px;
    transition: all 300ms ease;
    letter-spacing: 0.4px;
}

.nav__links {
    display: flex;
}

.nav__link {
    font-weight: 500;
    margin: 0 24px;
    padding-bottom: 4px;
    font-size: 14px;
    letter-spacing: 0.025em;
    font-weight: 500;
    transition: all 300ms ease;
}

.nav__link--login {
    margin-left: 48px !important;
}

.nav__link--primary {
    padding: 12px 32px;
    background-color: #6415ff;
    color: #fff;
    border-radius: 50px;
}

.color__btn:hover {
    background-color: #5011cc;
}


/* ABOUT */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__text--container {
    width: 40%;
}

.about__header {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Inter, system-ui;
    text-align: left;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    margin: 0;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(26, 32, 44, var(--tw-text-opacity));
    line-height: 1.25;
    font-size: 3rem;
}

.about__para {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: inherit;
    font-family: Inter, system-ui;
    --tw-text-opacity: 1;
    color: rgba(36, 62, 99, var(--tw-text-opacity));
    text-align: left;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.125rem;
}

.email__input--container {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: inherit;
    font-family: Inter, system-ui;
    --tw-text-opacity: 1;
    color: rgba(36, 62, 99, var(--tw-text-opacity));
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    position: relative;
    max-width: 28rem;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.email__input {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --tw-text-opacity: 1;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    line-height: inherit;
    color: inherit;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding-left: 2rem;
    border-radius: 9999px;
    border-width: 2px;
    width: 100%;
    font-weight: 500;
    transition-duration: 300ms;
    padding-right: 12rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.email__input--btn {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    padding: 0;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    right: 0px;
    top: 0px;
    bottom: 0px;
    --tw-bg-opacity: 1;
    background-color: rgba(100, 21, 255, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247, 250, 252, var(--tw-text-opacity));
    font-weight: 700;
    margin-right: 0.5rem;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition-duration: 300ms;
    position: absolute;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    line-height: 1;
}


.trusted__customers--container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.trusted__customers--para {
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 700;
    color: rgb(160, 174, 192);
}

.trusted__customers--img {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
    padding-right: 128px;
}

.about__img--container {
    width: 60%;
}

.about__img {
    width: 100%;
}

/* features */

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__header {
    margin-bottom: 16px;
}

.features__title {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.4px;
}

.features__para {
    margin-top: 18px;
    text-align: center;
    font-size: 18px;
    line-height: 1.625;
}

.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin-top: 40px;
}

.service {
    display: flex;
    flex-direction: row;
    width: calc(100%/3);
    align-self: flex-start;
    text-align: left;
    padding: 32px 24px;
    height: 100%;
}

.service__img--container {
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
}

.service__text--container {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;

}

.service__title {
    text-align: left;
    font-size: 24px;
    color: #243e63;
}

.service__para {
    text-align: left;
    margin-top: 16px;
    line-height: 2;
}

/* quality */
#quality {
    display: flex;
}

.quality__text--container {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.quality__img--container {
    width: 50%;
    position: relative;
}

.quality__header {
    text-align: left;
}

.quality__title {
    text-align: left;
    margin-top: 16px;
}

.quality__para {
    margin-top: 16px;
    font-size: 18px;
}

.quality__img {
    width: 100%;
}

.quality__dots {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -10;
    fill: #6415ff;
    overflow: hidden;
    transform: matrix(1, 0, 0, 1, 40, 40);
}

.quality__btn {
    margin-top: 32px;
    margin-right: auto;
}

/* steps */
#steps {
    display: flex;
}

.steps__img--container {
    position: relative;
}

.step {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.step__number {
    font-weight: 600;
    font-size: 36px;
    color: #cbd5e0;
}

.step__text--container {
    margin-left: 24px;
}

.steps__header,
.steps__title {
    text-align: left;
}


.step__title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.step__para {
    margin-top: 8px;
    max-width: 320px;
    font-size: 14px;
    line-height: 2;
    text-align: left;
}

.steps__img--dots {
    width: 160px;
    height: 160px;
    fill: rgb(100, 21, 255);
    opacity: 0.15;
    position: absolute;
    bottom: 15%;
    right: 43%;
    transform: matrix(1, 0, 0, 1, 40, 75);
    z-index: -10;
}

/* values */
#values {
    display: flex;
}

.values__text--container {
    width: 50%;
}

.values__header {
    text-align: left;
}

.values__title {
    text-align: left;
    margin-top: 16px;
    line-height: 1.25;
}

.values__para {
    font-size: 18px;
    margin-top: 32px;
}

.value__highlights {
    display: flex;
}

.value__highlight-img-container {
    display: flex;
    padding: 8px;
    border-radius: 50px;
    color: rgb(39, 103, 73);
    margin: auto 0;
}

.value__highlight-img-dollar {
    background-color: rgb(154, 230, 180);
}

.value__highlight-img-suitcase {
    background-color: rgb(254, 178, 178);
    color: rgb(155, 44, 44);
}

.values__highlight-title-text {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    margin-left: 12px;
}

.value__highlight__title {
    display: flex;
}

.value__highlight--item {
    margin-top: 32px;
    margin-right: 32px;
}

.value__highlight-item-2 {
    margin-right: 0px;
}

.value__link-btn-container {
    margin-top: 32px;
}


.values__img--container {
    width: 50%;
}

.values__img {
    width: 100%;
}

/* Pricing */
.pricing__text--container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__highlight--line {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    height: 8px;
    right: 0;
    top: 0;
    left: 0;
}

.plan__highlight--blue {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__highlight--red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__white {
    color: #f7fafc !important;
}

.plan__primary {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.pricing__title {
    margin-top: 16px;
    line-height: 1.25;
}

.pricing__para {
    text-align: center;
    margin-top: 16px !important;
    font-size: 18px;
    max-width: 576px;
    width: 100%;
}

.plans {
    display: flex;
}

.plan {
    width: calc(100%/3);
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgb(128 128 128 / 40%);
    padding: 8px 32px 0px 32px;
    margin-top: 64px;
    margin-right: 32px;
    position: relative;
}

.plan__header {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.plan__features {
    display: flex;
    flex-direction: column;
    border-top: 2px #e5e7eb solid;
    border-bottom: 2px #e5e7eb solid;
    padding: 32px;
    margin: 0 -32px;
}

.name {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7.5px;
}

.price {
    margin: 4px 0;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding: 9px 0;
}

.duration {
    text-align: center;
    color: #a0aec0;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.feature {
    margin-top: 20px;
    color: #718096;
    font-weight: 500;
    padding: 2px;
}

.main__feature {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.feature__buy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
}

.feature__buy--btn {
    padding: 18px 32px;
    width: 100%;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border: none;
    transition: transform 300ms ease, box-shadow 500ms ease;
}

.feature__buy--btn:hover {
    transform: translate(2px, -2px);
    box-shadow: 0px 5px 10px rgba(70, 70, 70, 0.4);
  }

.plan__btn--white {
    background: white;
    color: #6415ff;
}

/* testimonials */
#testimonials {
    display: flex;
}

.customer__rating {
    display: flex;
}

.customer__rating--star {
    fill: #f6ad55;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer__rating--star:not(:last-child) {
    margin-right: 4px;
}

.testimonial__img--container {
    width: 50%;
}

.testimonial__text--container {
    width: 50%;
    margin-left: 64px;
}

.testimonial__title {
    margin: 16px 0px;
}

.user__review {
    margin-top: 40px;
}

.review__title {
    margin-top: 16px;
    text-align: left;
    font-size: 20px;
    color: #243e63;
}

.review__para {
    margin-top: 16px;
    margin-bottom: 40px;
    text-align: left;
    color: #4a5568;
    font-weight: 500;
}

.user__profile--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.user__profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__profile-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: center;
}


.user__profile--img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.user__profile-btn-container {
    display: flex;
}

.user__profile-btn-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 242, 247);
    color: #6415ff;
    padding: 16px;
    margin: 0 12px;
    border: 0px;
}

.user__profile-btn-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 242, 247);
    color: #6415ff;
    padding: 16px;
    margin: 0 12px;
    border: 0px;
}

.arrow__left,
.arrow__right {
    width: 16px;
    height: 16px;
    stroke-width: 3;
}

.btn__divider {
    margin: 12px 0;
    border-right: 1px#a0aec0 solid;
    opacity: 0.25;
}

/* footer */
footer {
    background-color: #6415ff;
    width: 100%;
}

.footer__lists__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__list,
.footer__list--link {
    color: #f7fafc;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__list--title {
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    text-align: left;
    margin-bottom: 24px;
}

.footer__list--link {
    color: #f7fafc;
    font-size: 14px;
    font-weight: 500;
}

.footer__logo--img {
    width: 32px;
}

.social__link--img {
    height: 24px;
    width: 24px;
}

.footer__copyright {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo--container {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    margin-right: 8px;
}

.footer__logo--text {
    color: #f7fafc;
    font-weight: 900;
    font-size: 20px;
}

.footer__copyright--text {
    font-size: 16px;
    color: #cbd5e0;
    font-weight: 500;
}

.footer__social--container {
    display: flex;
}

.social__link:not(:last-child) {
    margin-right: 16px;
}

.footer__divider--line {
    width: 100%;
    margin: 64px 0;
    border-bottom: 2px#742cff solid;
}

.social__link {
    padding: 8px;
    border-radius: 50px;
    background-color: #f7fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* responsiveness */

@media (max-width: 904px) {
    .navbar__menu--button {
        display: flex;
      }

    .nav__links {
        display: none;
    }
}

@media (max-width: 768px) {
    .header, .title, .description {
        text-align: center;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service {
        width: calc(100%/2);
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .about__text--container {
        width: 100%;
        text-align: center;
    }

    .about__img--container {
        width: 100%;
    }

    .about__header {
        text-align: center;
    }

    .about__para {
        text-align: center;
    }

    .email__input--container {
        margin: 0 auto;
    }

    .quality__text--container {
        width: 100%;
        text-align: center;
    }

    .quality__header {
        text-align: center;
    }

    .quality__title {
        text-align: center;
    }

    .quality__para {
        text-align: center;
    }

    .quality__btn, .value__link--btn {
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .quality__img--container {
        width: 100%;
        text-align: center;
    }

    .steps__text--container {
        margin-top: 64px;
    }

    .step__text--container {
        margin-top: 12px;
        margin-left: 0;
    }

    .step {
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .step__para {
        text-align: center;
        margin: 0 auto;
    }

    .values__text--container {
        width: 100%;
        text-align: center;
    }

    .values__img--container {
        width: 100%;
        margin-top: 32px;
    }

    .plans {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .testimonial__img--container {
        margin-bottom: 16px;
    }

    .testimonial__text--container {
        margin: 0 auto;
    }

    .plan {
        width: 70%;
        margin: 32px 0px;
    }

    .customer__rating {
        justify-content: center;
    }

    .review__title {
        text-align: center;
    }

    .user__profile--img {
        height: auto;
    }

    .footer__lists__container {
        flex-direction: column;
        /* align-items: center;
        justify-content: center;
        margin: 0 auto; */
    }

    .footer__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__list:not(:first-child) {
        margin-top: 24px;
    }

    .footer__list--title {
        margin-bottom: 8px;
    }

    .footer__divider--line {
        margin: 32px 0;
    }

    .footer__copyright {
        margin-top: 32px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
    }

    /* .footer__logo--container {
        margin-bottom: 1;
    } */

    .footer__copyright--text {
        margin: 16px 0;
    }
}

@media (max-width: 440px) {
    .email__input {
        font-size: 10px;
    }
    .email__input--btn {
        position: relative;
        width: 100%;
    }

    .service {
        width: 100%;
    }

    .service__title {
        text-align: center;
    }

    .value__highlights {
        flex-wrap: wrap;
    }

    .value__highlight--item {
        margin-top: 32px;
        margin-right: 0px;
    }

    .value__highlight__title {
        align-items: center;
        justify-content: center;
    }

    .feature__buy--btn {
        width: auto;
    }

    .user__profile--container {
        flex-direction: column;
    }

    .user__profile--img {
        width: auto;
    }

    .user__profile-btn-container {
        margin-top: 16px;
    }
}
